:root{
  --primary-color: #090C1D;
  --btn-color: #EC7C13;
  --light-blue: #66CECF;
  --background-green-color: #66E795;
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Secular One', sans-serif 
}
body {
  overflow-x: hidden;
}
.spacer{
  aspect-ratio: 1440/26;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./assets/Vector.svg);
  
}  
.onActionButton{
  background-color: var(--btn-color);
  color: var(--primary-color);
  padding: 1em;
  width: 100%;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

.onActionButton:hover{
  background-color: #C45B00;
}
@media (width <= 900px) {
  .onActionButton{
    padding: .9em;
    font-size: 1rem;
  }
}














